* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black !important;
  color: #fff !important;
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  width: 100%;
}
.movie-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: nowrap;
}
::-webkit-scrollbar {
  display: none;
}
.header {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.image-container {
  position: relative;
  transition: 0.2s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
